html
  head
    title My Home Page
  body(style="background-color: #add8e6;")
    header
      h1 Welcome to My Website
    main
      p
        | This is the home page content.
        | Feel free to explore and enjoy!
    footer
      p Copyright © 2024 My Website
